.button {
    background-color: #4973ff;
}

.shape {
    width: 200px;
    height: 250px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    overflow: hidden;
    position: relative;
}

.shape:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
}

.wave {
    position: absolute;
    top: 50%;
    left: 0;
    width: 200%;
    height: 200%;
    transform: translate(-25%, 0);
    background: #4973ff;
}

@keyframes fill-up {
    to {
        top: -75%;
    }
}

.wave:before,
.wave:after {
    content: '';
    position: absolute;
    width: 110%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}

.wave:before {
    border-radius: 45%;
    background: rgba(179, 241, 255, 1);
    animation: animate 3s linear infinite;
}

.wave:after {
    border-radius: 40%;
    background: rgba(179, 241, 255, 0.5);
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

.pleine {
    animation: pleine 10s ease infinite alternate !important;
}

@keyframes pleine {
    from {
        margin-top: 70%;
    }
    to {
        margin-top: -75%
    }
}

.pleine-75 {
    animation: pleine-75 10s ease infinite alternate !important;
}

@keyframes pleine-75 {
    from {
        top: -75%;
    }
    to {
        top: -30%;
    }
}

.pleine-50 {
    animation: pleine-50 10s ease infinite alternate !important;
}

@keyframes pleine-50 {
    from {
        top: -75%;
    }
    to {
        top: 0%;
    }
}

.pleine-25 {
    animation: pleine-25 10s ease infinite alternate !important;
}

@keyframes pleine-25 {
    from {
        top: -75%;
    }
    to {
        top: 30%;
    }
}

.pleine-0 {
    animation: pleine-0 10s ease infinite alternate !important;
}

@keyframes pleine-0 {
    from {
        top: -75%;
    }
    to {
        top: 70%;
    }
}

.vide {
    animation: vide 10s ease infinite alternate !important;
}

@keyframes vide {
    to {
        top: 70%
    }
}

.vide-25 {
    animation: vide-25 10s ease infinite alternate !important;
}

@keyframes vide-25 {
    from {
        top: 70%
    }
    to {
        top: 30%;
    }
}

.vide-50 {
    animation: vide-50 10s ease infinite alternate !important;
}

@keyframes vide-50 {
    from {
        top: 70%
    }
    to {
        top: 0%;
    }
}

.vide-75 {
    animation: vide-75 10s ease infinite alternate !important;
}

@keyframes vide-75 {
    from {
        top: 70%
    }
    to {
        top: -30%;
    }
}

.vide-100 {
    animation: vide-100 10s ease infinite alternate !important;
}

@keyframes vide-100 {
    from {
        top: 70%
    }
    to {
        top: -75%;
    }
}

.presque-vide {
    animation: presque-vide 10s ease infinite alternate !important;
}

@keyframes presque-vide {
    from {
        top: 70%
    }
    to {
        top: 30%
    }
}

.presque-vide-0 {
    animation: presque-vide-0 10s ease infinite alternate !important;
}

@keyframes presque-vide-0 {
    0% {
        top: 30%
    }
    50% {
        top: 50%;
    }
    100% {
        top: 70%
    }
}

.presque-vide-50 {
    animation: presque-vide-50 10s ease infinite alternate !important;
}

@keyframes presque-vide-50 {
    from {
        top: 30%
    }
    to {
        top: 0%
    }
}

.presque-vide-75 {
    animation: presque-vide-75 10s ease infinite alternate !important;
}

@keyframes presque-vide-75 {
    from {
        top: 30%
    }
    to {
        top: -30%
    }
}

.presque-vide-100 {
    animation: presque-vide-100 10s ease infinite alternate !important;
}

@keyframes presque-vide-100 {
    from {
        top: 30%
    }
    to {
        top: -75%
    }
}

.presque-pleine {
    animation: presque-pleine 10s ease infinite alternate !important;
}

@keyframes presque-pleine {
    from {
        top: 70%;
    }
    to {
        top: -30%
    }
}

.presque-pleine-50 {
    animation: presque-pleine-50 10s ease infinite alternate !important;
}

@keyframes presque-pleine-50 {
    from {
        top: -30%;
    }
    to {
        top: 0%
    }
}

.presque-pleine-25 {
    animation: presque-pleine-25 10s ease infinite alternate !important;
}

@keyframes presque-pleine-25 {
    from {
        top: -30%;
    }
    to {
        top: 30%
    }
}

.presque-pleine-0 {
    animation: presque-pleine-0 10s ease infinite alternate !important;
}

@keyframes presque-pleine-0 {
    from {
        top: -30%;
    }
    to {
        top: 70%
    }
}

.presque-pleine-100 {
    animation: presque-pleine-100 10s ease infinite alternate !important;
}

@keyframes presque-pleine-100 {
    from {
        top: -30%;
    }
    to {
        top: -75%
    }
}

.milieu {
    animation: milieu 10s ease infinite alternate !important;
}

@keyframes milieu {
    from {
        top: 70%;
    }
    to {
        top: 0%
    }
}

.milieu-0 {
    animation: milieu-0 10s ease infinite alternate !important;
}

@keyframes milieu-0 {
    from {
        top: 0%;
    }
    to {
        top: 70%
    }
}

.milieu-25 {
    animation: milieu-25 10s ease infinite alternate !important;
}

@keyframes milieu-25 {
    from {
        top: 0%;
    }
    to {
        top: 30%
    }
}

.milieu-75 {
    animation: milieu-75 10s ease infinite alternate !important;
}

@keyframes milieu-75 {
    from {
        top: 0%;
    }
    to {
        top: -30%
    }
}

.milieu-100 {
    animation: milieu-100 10s ease infinite alternate !important;
}

@keyframes milieu-100 {
    from {
        top: 0%;
    }
    to {
        top: -75%
    }
}

.rester-0 {
    animation: rester-0 10s ease infinite alternate !important;
}

@keyframes rester-0 {
    from {
        top: 70%;
    }
    to {
        top: 70%
    }
}

.rester-25 {
    animation: rester-25 10s ease infinite alternate !important;
}

@keyframes rester-25 {
    from {
        top: 30%;
    }
    to {
        top: 30%
    }
}

.rester-50 {
    animation: rester-50 10s ease infinite alternate !important;
}

@keyframes rester-50 {
    from {
        top: 0%;
    }
    to {
        top: 0%
    }
}

.rester-75 {
    animation: rester-75 10s ease infinite alternate !important;
}

@keyframes rester-75 {
    from {
        top: -30%;
    }
    to {
        top: -30%
    }
}

.rester-100 {
    animation: rester-100 10s ease infinite alternate !important;
}

@keyframes rester-100 {
    from {
        top: -75%;
    }
    to {
        top: -75%
    }
}